@font-face {
    font-family: Abhaya Libre;
    src: url('../Abhaya_Libre/AbhayaLibre-Bold.ttf'), url('../Abhaya_Libre/AbhayaLibre-Regular.ttf');

}

body{
    background-image: url(../Images/backgroundLoL.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Abhaya Libre', serif;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
header{
    height: 180px;
    top: 20px;
    background: transparent url(../Images/headerLol.png) no-repeat 50% 0;
    background-size: contain;
}

.row{
    display: flex;
    justify-content: center;

}

#champions .row{
    flex-wrap: wrap;
}

#main-navigation{
    position: relative;
    top: 96px;
    padding: 0 15em 0 15em;

}

/* #image-header{
    width: auto;

} */

.main-button{
    font-size: 20px;
    width: 150px;
    background: none;
    border: 0;
    color: #37E1E3;
    font-family: 'Abhaya Libre', serif;
}

.space{
    width: 500px;
}

.question{
    font-size: 30px;
    color: #37E1E3;
    font-family: 'Abhaya Libre', serif;
    text-align: center;
}

.inicio-box{
    background: rgba(196, 196, 196, 0.3);
    mix-blend-mode: lighten;
    border: 5px solid #AE8537;
    width: auto;
    width: 90%;
    padding: 0.3em;

}

.inicio-box p{
    font-family: Crete Round;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #1E302C; 
    text-align: center;

}

.margin-top{
    margin-top: 25px;
}

.classSelect{
    width: 180px;
    height: 47px;
    background: #080808;
    border: 2px solid #AE8537;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #AE8537;

}

.positionButton{
    width: 125px;
    height: 26px;
    background: #080808;
    border: 2px solid #AE8537;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #AE8537;
    margin: 0.5em;

}

#champions{
    width: 73%;
    display: none;
}

.championBox{
    width: 210px;
    height: 210px;
    background: #080808;
    border: 2px solid #AE8537;
    box-sizing: border-box;
    margin: 0.2em;
    margin-top: 25px;
}

.imgRedonda {
    width:80px;
    height:80px;
    border-radius:150px;
    margin-top: 1em;

}

.imageButton{
    background: transparent;
    border: 0;
}

.name-title{
    height: 30px;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100px;
    color: #AE8537;
    text-align: center;
    margin: 0;

}

@media only screen and (max-width: 600px) {
    #image-header{
        width: 200px;
    }
}