@font-face {
    font-family: Abhaya Libre;
    src: url('../Abhaya_Libre/AbhayaLibre-Bold.ttf'), url('../Abhaya_Libre/AbhayaLibre-Regular.ttf');

}

body{
    display:flex;
    flex-direction: column;
    background-image: url(../Images/backgroundLoL.png);
    justify-content: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Abhaya Libre', serif;
}

header{
    display: flex;
    justify-content: center;
    width: 90%;
    height:150px;
    margin: auto;
    background-image: url(../Images/headerLol.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav{
    margin:auto;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 36px;
}
nav li a{
    font-family: 'Abhaya Libre', serif;
    font-size: 20px;
    text-decoration: none;
    color:#37E1E3;
}
/*------------------------Página de Inicio---------------------*/
section#home{
    display: flex;
    flex-direction: column;
}
.question{
    margin:auto;
    font-size: 30px;
    color: #37E1E3;
    font-family: 'Abhaya Libre', serif;
    text-align: center;
}

.inicio-box{
    margin:auto;
    background: rgba(196, 196, 196, 0.3);
    mix-blend-mode: lighten;
    border: 5px solid #AE8537;
    width: 90%;
    padding: 0.3em;

}

.inicio-box p{
    font-family: Crete Round;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #1E302C; 
    text-align: center;

}

/*--------------------------Vista de Campeones------------------------*/

section#champions{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 73%;
    /*display: none;*/
}

.classSelect{
    display: flex;
    width: 180px;
    height: 47px;
    background: #080808;
    border: 2px solid #AE8537;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #AE8537;
    outline: none;
}

.positionButton{
    display: flex;
    width: 125px;
    height: 26px;
    background: #080808;
    border: 2px solid #AE8537;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #AE8537;
    margin: 0.5em;
    outline: none;
}


.championBox{
    width: 220px;
    height: 220px;
    background: #080808;
    border: 2px solid #AE8537;
    box-sizing: border-box;
}

.imgRedonda {
    width:80px;
    height:80px;
    border-radius:150px;

}

.imageButton{
    background: transparent;
    border: 0;
}

@media only screen and (max-width: 600px) {
    #image-header{
        width: 200px;
    }
}

/*------------------Todos los campeones-------------------*/
.allChamp {
    display:flex;   
}
.champ{
    display:flex;
    flex-wrap: wrap;
    width: 23%;
    height: 220px;
    background: #080808;
    border: 2px solid #AE8537;
    box-sizing: border-box;
}